@charset "utf-8";
/*
10 px : 77%   |  11 px : 85% 
 *  12 px : 93%   |  13 px : 100%
 *  14 px : 108%  |  15 px : 116%
 *  16 px : 124%  |  17 px : 131%
 *  18 px : 139%  |  19 px : 147%
 *  20 px : 154%  |  22 px : 170%
 *  24 px : 185%  |  26 px : 200%
 *  28 px : 216%  |  30 px : 231%
 *  32 px : 247%
*/
body {
	/* customize_body */ font: normal normal 13px Georgia; /* customize_body */
	/* customize_body */ color: #333333; /* customize_body */
}

/* **************** CONTENT OBJECTS ***************** */

/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p {
	padding: 0px;
}

ul, ol, dl, p, th, td {
	font-size: 108%;
	line-height: 160%;
}

p, ul, ol, dl {
	margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, img {
	padding-bottom: 0px;
}

blockquote {
	font-size: 108%;
	padding: 10px;
}

pre {
	line-height: 160%;
	margin: 10px;
}

/* ====== Elements ====== */
img {
	vertical-align: bottom;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1 {
	font-size: 200%;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
	padding-top: 20px;
	margin-bottom: 5px;
}

h2, .h2 {
	font-size: 247%;
	font-weight: normal;
	font-style: normal;
	color: #437AA9;
	padding: 0px 0px 10px 0px;
	margin-bottom: 20px;
}

h3, .h3 {
	font-size: 185%;
	font-weight: normal;
	font-style: normal;
	color: #437AA9;
	padding: 0px 0px 10px 0px;
	margin-bottom: 10px;
	background: url(images/bgi_h3.jpg) repeat-x left bottom;
}

h4, .h4 {
	font-size: 139%;
	font-weight: bold;
	font-style: normal;
	color: #333;
	padding: 3px 0px 5px 0px;
	background: none;
}

h5, .h5 {
	font-size: 108%;
	font-weight: normal;
	font-style: normal;
	color: #AE0345;
}

h6, .h6 {
	font-size: 108%;
	font-weight: normal;
	font-style: italic;
	color:#333;
}

/* links */
h1 a, .h1 a,
h1 a:visited, .h1 a:visited,
h1 a:active, .h1 a:active {
	color: #ffffff;
}

h1 a:hover, .h1 a:hover {
	color: #f0e68c;
}

/* ====== Lists ======*/

.simpleList {}

/* numbered list */
ol.simpleList li { list-style-type: decimal; margin-left: 25px; }

/* standard list */
ul.simpleList li { list-style-type: disc; margin-left: 20px; }

dl.simpleDl dt { font-weight: bold; }
dl.simpleDl dd { margin-bottom: 10px; }

.separator li {
	overflow: hidden;
	border-bottom: 1px dotted #cccccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.separator li:last-child {
	border-bottom: none;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.versionList em {
	font-size: 139%;
}

.taskList {
	overflow: hidden;	
}

.taskList .image {
	float: left;
}

.image {
	padding: 1px;
	background: #ffffff;
	border: 1px solid #cccccc;
	margin-right: 10px;
	margin-bottom: 10px;
}

.full {
	padding: 5px;
	background: #ffffff;
	border: 1px solid #cccccc;
}
