@charset "utf-8"; 

fieldset {
	padding: 0px 10px;
	border: 1px solid #cccccc;
	margin-bottom: 15px;
}

legend {
	text-transform: uppercase;
}

dl dt {
	margin-bottom: 5px;
	text-transform: capitalize;
	font-weight: bold;
}

dl dd {
	margin-left: 0px;
	margin-bottom: 10px;
}

em.required {
	text-transform: uppercase;
	color: #b22222;
	font-style: normal;
	font-weight: bold;
}

em.username {
	color: #b22222;
	font-weight: bold;
}
