@charset "utf-8";

#progressbar {
	border: 1px solid #cccccc;
	padding: 1px;
	width: 296px;
}

#progressbar strong {
	display: block;
	padding: 5px 0px;
	text-indent: 15px;
	background: url(../images/bgi_progressbar.jpg) no-repeat -300px top;
}

#progressbar strong.complete {
	background: url(../images/bgi_progressbar.jpg) no-repeat left top;
}

.warning {
	color: #b22222;
	display: inline-block;
}

.username {
	color: #b22222;
}

.warnMessage {
	background: url(../images/bgi_warning.gif) no-repeat 15px 15px;
	border: 1px solid #cccccc;
	padding: 5px 15px 5px 51px;
}

.ccm-search-field .userRepository {
	list-style: none;
}

.ccm-search-field .userRepository li {
	font-size: 108%;
	margin: 0px 0px 5px 0px;
}

.ccm-search-field .userRepository li a {
	padding: 5px 15px;
	background: #ffffff;
	border: 1px solid #cccccc;
	display: block;
}

.ccm-search-field .userRepository li a:hover {
	font-weight: bold;
	color: #3a546d;
	background: #bfd0e0;
}




#main {
	overflow: hidden;
	padding: 15px;
}

.repositories {
	float: left;
	width: 14%;
	margin-right: 20px;
}

.importer {
	float: left;
	width: 84%;
}
