@charset "utf-8";

.line:after,
.lastUnit:after {
	clear: both;
	display: block;
	visibility: hidden;
	overflow: hidden;
	height:0 !important;
	line-height: 0;
	font-size: xx-large;
	content: "x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.line {
	*zoom:1;
}

.unit {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
}

.size1of24 { width: 30px; }
.size2of24 { width: 70px; }
.size3of24 { width: 110px; }
.size4of24 { width: 150px; }
.size5of24 { width: 190px; }
.size6of24 { width: 230px; }
.size7of24 { width: 270px; }
.size8of24 { width: 310px; }
.size9of24 { width: 350px; }
.size10of24 { width: 390px; }
.size11of24 { width: 430px; }
.size12of24 { width: 470px; }
.size13of24 { width: 510px; }
.size14of24 { width: 550px; }
.size15of24 { width: 590px; }
.size16of24 { width: 630px; }
.size17of24 { width: 670px; }
.size18of24 { width: 710px; }
.size19of24 { width: 750px; }
.size20of24 { width: 790px; }

.firstUnit { margin-left: 0px; }
.lastUnit { margin-right: 0px; }