@charset "utf-8"; 

fieldset {
	padding: 0px 10px;
	border: 1px solid #cccccc;
	margin-bottom: 15px;
}

legend {
	text-transform: uppercase;
}

dl dt {
	margin-bottom: 5px;
	text-transform: capitalize;
	font-weight: bold;
}

dl dd {
	margin-left: 0px;
	margin-bottom: 10px;
}

em.required {
	text-transform: uppercase;
	color: #b22222;
	font-style: normal;
	font-weight: bold;
}

em.username {
	color: #b22222;
	font-weight: bold;
}

.packageList li {
	padding: 5px 10px 5px 5px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	overflow: hidden;
}

.packageList li p {
	float: left;
	width: 100px;
	margin: 0px;
	padding: 0px;
}

.packageList li:last-child {
	border-bottom: 1px solid #cccccc;
}

.packageList li .delete {
	display: block;
	padding: 5px 5px 5px 25px;
	height: 10px;
	text-decoration: none;
}

.packageList li .delete {
	float: left;
}

.packageList li {
	background: url(images/img_check_off.gif) no-repeat 5px center;
}

.packageList li.selected {
	background: #f0ffdd url(images/img_check_on.gif) no-repeat 5px center;
}
