@charset "utf-8";
/*
10px=77%
11px=85%
12px=93%
13px=100%
14px=108%
15px=116%
16px=123.1%
17px=131%
18px=138.5%
19px=146.5%
20px=153.9%
21px=161.6%
22px=167%
23px=174%
24px=182%
25px=189%
26px=197%
*/

body {
	font-family: Georgia, Garamond, "Times New Roman", serif;
}

/* **************** CONTENT OBJECTS ***************** */

/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p {
	padding: 0px;
}

ul, ol, dl, p {
	font-size: 108%;
	line-height: 160%;
}

h1, h2, h3, h4, h5, h6, img {
	padding-bottom: 0px;
}

blockquote {
	font-size: 108%;
	padding: 10px;
}


pre {
	margin: 10px;
}

/* ====== Elements ====== */
img {
	vertical-align: bottom;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1 {
	font-size: 196%;
	font-weight:normal;
	font-style: normal;
	color: #333333;
}

h2, .h2 {
	font-size: 167%;
	font-weight: normal;
	font-style: normal;
	color: #333333;
}

h3, .h3 {
	font-size: 138.5%;
	font-weight: normal;
	font-style: normal;
	color: #333333;
}

h4, .h4 {
	font-size: 108%;
	font-weight: normal;
	font-style: normal;
	color: #333;
}

h5, .h5 {
	font-size: 108%;
	font-weight: bold;
	font-style: normal;
	color: #AE0345;
}

h6, .h6 {
	font-size: 108%;
	font-weight: normal;
	font-style: italic;
	color:#333;
}

/* links */
a {
	color: #036;
	text-decoration: none;
}

a:focus, a:hover {
	text-decoration: underline;
}

a:visited {
	color: #005a9c;
}



/* ====== Lists ======*/

.simpleList {}

/* numbered list */
ol.simpleList li {
	list-style-type: decimal;
	margin-left: 40px;
}

/* standard list */
ul.simpleList li {
	list-style-type: disc;
	margin-left: 40px;
}


/* ====== Tables ====== */


/* ====== blockquote ====== */
cite {
	display: block;
	text-align: right;
}
